<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
    <div class="input-container">
        <label for="firstName" class="input-label">First name:</label>
        <input class="input" type="text" name="firstName" id="firstName" formControlName="firstName"
            [class.error-container]="
            firstNameControl.invalid && (firstNameControl.touched || firstNameControl.dirty)
          " />
        <div *ngIf="firstNameControl.invalid && (firstNameControl.touched || firstNameControl.dirty)">
            <span class="error-msg" *ngIf="firstNameControl.hasError('required')">The first name is required</span>
        </div>
    </div>

    <div class="input-container">
        <label for="lastName" class="input-label">Last name:</label>
        <input class="input" type="text" name="lastName" id="lastName" formControlName="lastName"
            [class.error-container]="
            lastNameControl.invalid && (lastNameControl.touched || lastNameControl.dirty)
          " />
        <div *ngIf="lastNameControl.invalid && (lastNameControl.touched || lastNameControl.dirty)">
            <span class="error-msg" *ngIf="lastNameControl.hasError('required')">The last name is required</span>
        </div>
    </div>
    <div class="input-container">
        <label for="password" class="signin-label">Password</label>
        <input class="signin-input" type="password" name="password" id="password" formControlName="password"
            [class.error-container]="passwordControl.invalid && (passwordControl.touched || passwordControl.dirty)">
        <div *ngIf="passwordControl.invalid && (passwordControl.touched || passwordControl.dirty)">
            <span class="error-msg" *ngIf="passwordControl.hasError('required')">To confirm the password is required</span>
        </div>
        <div *ngIf="passwordControl.valid && registerForm.invalid">
            <span class="error-msg" *ngIf="registerForm.hasError('matchingPasswordsValidator')">The passwords do not match</span>
        </div>

    </div>
    <div class="input-container" >
        <label for="confirmPassword" class="signin-label">Confirm password</label>
        <input class="signin-input" type="password" name="confirmPassword" id="confirmPassword" formControlName="confirmPassword" 
            [class.error-container]="confirmPasswordControl.invalid && (confirmPasswordControl.touched || confirmPasswordControl.dirty)">
        <div *ngIf="confirmPasswordControl.invalid && (confirmPasswordControl.touched || confirmPasswordControl.dirty)">
            <span class="error-msg" *ngIf="confirmPasswordControl.hasError('required')">To confirm the password is required</span>
        </div>
        <div  *ngIf="confirmPasswordControl.valid && registerForm.invalid">
            <span  class="error-msg" *ngIf="registerForm.hasError('matchingPasswordsValidator')">The passwords do not match</span>
        </div>
    </div>

    <div class="btn-container">
        <button class="register-btn" type="submit" [disabled]="registerForm.invalid">
            Register!
        </button>
    </div>

</form>