<header class="desktop-view-header">

  <ul class="top-options">

    <li class="">
      <i class="fa fa-search fa-2x"></i>
      <input type="text" name="" id="">
    </li>

    <li >
      <img
        src="../../../assets/resort-logo-design.png"
        width="100"
        alt="resort-logo"
      />
    </li>

    <li >Reserve</li>
  </ul>
  <div class="header-divider"></div>

  <!-- <ul>
    <li class="nav__listitem">Ofers</li>
    <li class="nav__listitem">
      Rooms
      <ul class="nav__listitem__drop">
        <li>Single</li>
        <li>Double</li>
        <li>Triple</li>
      </ul>
    </li>
    <li class="nav__listitem">
      Reservations
      <ul class="nav__listitem__drop">
        <li>Make a reservation</li>
        <li>Request an invoice</li>
        <li>Find a reservation</li>
      </ul>
    </li>
    <li class="nav__listitem">
      Food Menu
      <ul class="nav__listitem__drop">
        <li>Make a reservation</li>
        <li>Request an invoice</li>
        <li>Find a reservation</li>
      </ul>
    </li>
    <li class="nav__listitem">
      About us
      <ul class="nav__listitem__drop">
        <li (click)="openSidebar()">Location</li>
        <li (click)="openSidebar()">Contact us</li>
        <li (click)="openSidebar()">Our team</li>
        <li (click)="openSidebar()">Careers</li>
      </ul>
    </li>
  </ul> -->
</header>

<!-- <header class="mobile-view-header">
  <ul class="page-top">
    <li class="search-icon"><i class="fa fa-search fa-2x"></i></li>
    <li>
      <img
        src="../../../assets/resort-logo-design.png"
        width="100"
        alt="resort-logo"
      />
    </li>
    <li class="open-navbar-icon" [class.rotate]="isNavOpen" (click)="openSidebar()"><div class="bar" [class.rotate]="isNavOpen"></div></li>
  </ul>

  <nav class="navigation" [class.open]="isNavOpen">
    
  </nav>
  
</header> -->
