<div id="header-container">
  <div id="blurry-filter">
    <header class="header-view" >
      <ul id="top-options">
        <li class="input-container" [class.open-input]="isSearchOpen">
          <i class="fa fa-search search-icon" (click)="openSearch()"></i>
          <input class="search-input" type="text" name="" id="" />
        </li>

        <li id="logo-container">
          <img
            src="../../../assets/resort-logo-design-removebg-preview.png"
            width="100"
            alt="resort-logo"
          />
        </li>

        <li id="reservation-btn-container" >

          <Button id="reservation-btn" (click)="goToReserve()">Reserve</Button>
          <div class="open-navbar-icon-container" [class.rotate-icon]="isNavOpen"
          (click)="openSidebar()">

            <div class="bar" [class.rotate-icon]="isNavOpen"></div>
          </div>
        </li>
      </ul>

      <div class="header-divider"></div>

      <ul id="bottom-options">
        <li class="option">Ofers</li>
        <li class="option">
          Rooms
          <ul class="option-list">
            <li>Single</li>
            <li>Double</li>
            <li>Triple</li>
          </ul>
        </li>
        <li class="option">
          Reservations
          <ul class="option-list">
            <li>Make a reservation</li>
            <li>Request an invoice</li>
            <li>Find a reservation</li>
          </ul>
        </li>
        <li class="option">
          Food Menu
          <ul class="option-list">
            <li>Make a reservation</li>
            <li>Request an invoice</li>
            <li>Find a reservation</li>
          </ul>
        </li>
        <li class="option">
          About us
          <ul class="option-list">
            <li (click)="openSidebar()">Location</li>
            <li (click)="openSidebar()">Contact us</li>
            <li (click)="openSidebar()">Our team</li>
            <li (click)="openSidebar()">Careers</li>
          </ul>
        </li>
      </ul>
    </header>


  </div>
  <nav class="navigation" [class.open-navbar-mobile]="isNavOpen">
    <ul id="main-nav-options-list">
      <li class="main-nav-option">Ofers</li>
      <li class="main-nav-option" (click)=" isRoomOptionsOpen = !isRoomOptionsOpen">
        Rooms
        
      </li>
      <ul class="nav-option-list" *ngIf="isRoomOptionsOpen">
          <li class="nav-option">Single</li>
          <li class="nav-option">Double</li>
          <li class="nav-option">Triple</li>
        </ul>
      <li class="main-nav-option" (click)=" isReservationsOptionsOpen = !isReservationsOptionsOpen">
        Reservations
        
      </li>
      <ul class="nav-option-list" *ngIf="isReservationsOptionsOpen">
          <li class="nav-option">Make a reservation</li>
          <li class="nav-option">Request an invoice</li>
          <li class="nav-option">Find a reservation</li>
      </ul>
      <li class="main-nav-option" (click)=" isFoodOptionsOpen = !isFoodOptionsOpen">
        Food Menu
        
      </li>
      <ul class="nav-option-list" *ngIf="isFoodOptionsOpen">
          <li class="nav-option">Make a reservation</li>
          <li class="nav-option">Request an invoice</li>
          <li class="nav-option">Find a reservation</li>
      </ul>
      <li class="main-nav-option" (click)=" isAboutUsOptionsOpen = !isAboutUsOptionsOpen">
        About us
        
      </li>
      <ul class="nav-option-list" *ngIf="isAboutUsOptionsOpen">
          <li (click)="openSidebar()" class="nav-option">Location</li>
          <li (click)="openSidebar()" class="nav-option">Contact us</li>
          <li (click)="openSidebar()" class="nav-option">Our team</li>
          <li (click)="openSidebar()" class="nav-option">Careers</li>
        </ul>
    </ul>
  </nav>
  

  <div id="check-rates-container" *ngIf="!isNavOpen">
    <div id="blurry-filter-check-rates">
      <div class="check-rates-input-container">
        <i class="fa fa-calendar check-rates-icon"></i>
        <input class="check-rates-input" type="text" name="" id="" />
      </div>
      <div class="check-rates-input-container">
        <i class="fa fa-users check-rates-icon"></i>
        <input class="check-rates-input" type="text" name="" id="" />
      </div>
      <div class="check-rates-input-container">
        <i class="fa fa-hotel check-rates-icon"></i>
        <input class="check-rates-input" type="text" name="" id="" />
      </div>

      <div class="check-rates-input-container">
        <button class="check-rates-btn">Check Rates</button>

      </div>

    </div>
  </div>
  <div class="img-background" ></div>
</div>


<!-- <div id="popup-search">
  <form id="search">
    <label for="">search</label>
    <input type="text">
  </form>
</div> -->
